<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>留言板</h1>
    <% if (!auth) { %>
    <p>您尚未登入，所以只能瀏覽，若要留言請先登入</p>
    <% } %> <% if (auth) { %>
    <form action="/messageBoard" method="post">
      <input type="text" name="content" placeholder="填寫留言訊息" />
      <input type="submit" value="送出" />
    </form>
    <p class="error-message"><%= error %></p>
    <% } %>

    <a href="/signup">註冊</a>
    <a href="/login">登入</a>
    <% if (auth) { %>
    <a href="/user">個人頁面</a>
    <% } %>
    <ul>
      <% for( item in list ) { %>
      <li><%= list[item].nickname %> : <%= list[item].content %></li>
      <% } %>
    </ul>
  </body>
</html>
