<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/signup" method="post">
      <h2>註冊</h2>
      <div>
        <label for="email">Email</label>
        <input type="text" name="email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="text" name="password" />
      </div>
      <div>
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname" />
      </div>
      <div>
        <input type="submit" value="註冊" />
      </div>
      <%= error %>
    </form>
  </body>
</html>
